* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000039;
}

.container {
    max-width: 992px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: 200px;
    height: 200px;
    margin: 20px;
    position: relative;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 60% 100%;
    position: absolute;
    z-index: 1;
    transition: 0.5s ease-in-out;
}


.card .content {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    transition: 0.5s ease-in-out;
}

.card:hover img {
    transform: translate(-13%, -13%);
}

.card:hover .content {
    transform: translate(13%, 13%);
}

@media (max-width: 500px) {
    .card:hover img {
        transform: translate(0%, -13%);
    }
    
    .card:hover .content {
        transform: translate(0%, 13%);
    }
}